{% block page_content %}
<style>
    /* it has no impact */
	/* @media screen {
		.print-format {
			width: 1.10236in;
			min-height: 2.00787in;
			padding: 0in;
			margin: auto;
		}
	
	@media print {
		.print-format p {
			margin-left: 0px;
			margin-right: 0px;
		}
	} */

</style>


{% macro render_barcode(barcode) %}
{% if barcode %}
<img style="width:100px;height:42px;object-fit: contain;"
    src="http://www.barcodes4.me/barcode/c128a/{{barcode}}.png?margin=5&IsTextDrawn=0&IsBorderDrawn=0"
    alt="{{barcode}}"></img>
{% endif %}
{% endmacro %}

{% macro render_small_barcode(barcode) %}
{% if barcode %}
<img style="width:100px;height:20px;object-fit: contain;"
    src="http://www.barcodes4.me/barcode/c128a/{{barcode}}.png?margin=5&IsTextDrawn=0&IsBorderDrawn=0"
    alt="{{barcode}}"></img>
{% endif %}
{% endmacro %}

<!-- content -->
<div id="header-html">
  <!-- empty place holder to remove top-marging in pdf -->
</div>

<div>

    {% for item in barcode_items.values() %}
    <div style="page-break-before:always">
      <!-- 12.5 -->
    <div style="font-size:13px;font-family:arial;font-weight: bold;align-content: center;">NULIGHT STUDIOS</div>
    <div style="font-size:15px;font-family:arial;font-weight: bold;align-content: center;"> {{item}} {{ render_barcode(item)}}</div>
    <!-- 11.4 -->
    <div style="font-size:8px;font-family:arial;font-weight: bold;align-content: center;"> {{item}} {{ render_small_barcode(item)}}</div>
    </div>
    {% endfor %}

</div>
<div id="footer-html">
  <!-- empty place holder to remove bottom-marging in pdf -->
</div>
<!-- end content -->


{% endblock %}
