<style>
    @page {
        size: 51mm 28mm landscape;
    }
    * {
      margin: 0;
      padding: 0;
    }
    td {
        padding : 0px;
        text-align: center;
    }
    table {
        margin:0px;
        padding:0px;
        border: 1px solid #333333;
    }
    div {
        vertical-align: middle;
        text-align: center;
        width: 50mm;
        height:28mm;
    }
</style>
<center>
<div style="background-color:#cccccc;">
 <table style="width: 100%;">
        <colgroup>
            <col style="width:25%">
            <col style="width:25%">
        </colgroup>
        <tr style="line-height:3mm;">
            <td colspan="2">NULIGHT STUDIOS</td>
        </tr>
        <tr style="line-height:16mm;">
            <td>211370</td>
            <td><img style="width:100px;height:40px;object-fit: contain;"
                    src="http://www.barcodes4.me/barcode/c128a/211371.png?margin=5&IsTextDrawn=0&IsBorderDrawn=0"
                    alt="211371"></img></td>
        </tr>
        <tr style="line-height:6mm;">
            <td>211370</td>
            <td><img style="width:100px;height:15px;object-fit: contain;"
                    src="http://www.barcodes4.me/barcode/c128a/211371.png?margin=5&IsTextDrawn=0&IsBorderDrawn=0"
                    alt="211371"></img></td>
        </tr>        
    </table>
</div>
</center>
<div id="header-html">
<!-- empty place holder to remove top-marging in pdf -->
</div>
<div id="footer-html">
    <!-- empty place holder to remove bottom-marging in pdf -->
</div>